@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<input  class="form-control" @bind="name" @bind:event="oninput"/>
<h2 class="@(name.Contains('@') ? "text-success" : "text-danger")">@name</h2>
<br/>

@if(name.Contains('@') == false)
{
    <p class="text-danger">Email field must contain @@ character!</p>
}




@if(currentCount % 2 == 0)
{
    <p role="status" class="text-primary">Current count is Even: @currentCount</p>
}
else
{
    <p role="status" class="text-danger">Current count is Odd: @currentCount</p>
    
}

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    private string name = String.Empty;


    private void IncrementCount()
    {
        currentCount++;
    }
}
